In [42]:
import pandas as pd
import numpy as np

In [43]:
import nltk

In [44]:
data = pd.read_csv('billboard_lyrics.csv')

In [45]:
#data.describe()

In [46]:
data['Lyrics'] = data['Lyrics'].astype(str)

In [47]:
data = data.replace('  ',np.NaN).replace('nan',np.NaN)

data = data.dropna()

In [48]:
data['token'] = data.apply(lambda row: nltk.word_tokenize(row['Lyrics']), axis=1)

In [49]:
data.head(10)

,Rank,Song,Artist,Year,Lyrics,Source,token
0,1,wooly bully,sam the sham and the pharaohs,1965,sam the sham miscellaneous wooly bully wooly b...,3.0,"[sam, the, sham, miscellaneous, wooly, bully, ..."
1,2,i cant help myself sugar pie honey bunch,four tops,1965,sugar pie honey bunch you know that i love yo...,1.0,"[sugar, pie, honey, bunch, you, know, that, i,..."
3,4,you were on my mind,we five,1965,when i woke up this morning you were on my mi...,1.0,"[when, i, woke, up, this, morning, you, were, ..."
4,5,youve lost that lovin feelin,the righteous brothers,1965,you never close your eyes anymore when i kiss...,1.0,"[you, never, close, your, eyes, anymore, when,..."
5,6,downtown,petula clark,1965,when youre alone and life is making you lonel...,1.0,"[when, youre, alone, and, life, is, making, yo..."
6,7,help,the beatles,1965,help i need somebody help not just anybody hel...,3.0,"[help, i, need, somebody, help, not, just, any..."
7,8,cant you hear my heart beat,hermans hermits,1965,carterlewis every time i see you lookin my way...,5.0,"[carterlewis, every, time, i, see, you, lookin..."
8,9,crying in the chapel,elvis presley,1965,you saw me crying in the chapel the tears i s...,1.0,"[you, saw, me, crying, in, the, chapel, the, t..."
9,10,my girl,the temptations,1965,ive got sunshine on a cloudy day when its cold...,3.0,"[ive, got, sunshine, on, a, cloudy, day, when,..."
10,11,help me rhonda,the beach boys,1965,well since she put me down i ve been out doin ...,3.0,"[well, since, she, put, me, down, i, ve, been,..."

In [50]:
from nltk.corpus import stopwords 
stopwords = stopwords.words('english')

data['token'] = data['token'].apply(lambda x: [item for item in x if item not in stopwords])

In [10]:
#Number = ['0','1','2','3','4','5','6','7','8','9']
#data['token'] = data['token'].apply(lambda x: [item for item in x if item not in Number])

In [51]:
columns = ['Rank','Song','Artist','Year','token']
data = data[columns]

In [52]:
data['token'] = data['token'].astype(str)

In [53]:
df = data
df['token'] = data['token'].astype(str)

In [54]:
#Reindex and repeat cols on len of split and reset index
df1 = df.reindex(df.index.repeat(df['token'].fillna("").str.split(',').apply(len)))
df1 = df1.drop(['token'],1)

In [55]:

# Splitting both cols
s = df['token'].str.split(',', expand=True).stack().reset_index(level=1,drop=True)

# Now grouping the series and df using cumcount.
df1 = df1.set_index(df1.groupby(df1.index).cumcount(), append=True)
s = s.to_frame('token').set_index(s.groupby(s.index).cumcount(), append=True)

# Joining the all of them together and reset index.
df1 = df1.join(s, how='outer').reset_index(level=[0,1],drop=True)

print (df1)

        Rank                   Song                         Artist  Year  \
0          1            wooly bully  sam the sham and the pharaohs  1965
1          1            wooly bully  sam the sham and the pharaohs  1965
2          1            wooly bully  sam the sham and the pharaohs  1965
3          1            wooly bully  sam the sham and the pharaohs  1965
4          1            wooly bully  sam the sham and the pharaohs  1965
5          1            wooly bully  sam the sham and the pharaohs  1965
6          1            wooly bully  sam the sham and the pharaohs  1965
7          1            wooly bully  sam the sham and the pharaohs  1965
8          1            wooly bully  sam the sham and the pharaohs  1965
9          1            wooly bully  sam the sham and the pharaohs  1965
10         1            wooly bully  sam the sham and the pharaohs  1965
11         1            wooly bully  sam the sham and the pharaohs  1965
12         1            wooly bully  sam the sham and the pharaohs  1965
13         1            wooly bully  sam the sham and the pharaohs  1965
14         1            wooly bully  sam the sham and the pharaohs  1965
15         1            wooly bully  sam the sham and the pharaohs  1965
16         1            wooly bully  sam the sham and the pharaohs  1965
17         1            wooly bully  sam the sham and the pharaohs  1965
18         1            wooly bully  sam the sham and the pharaohs  1965
19         1            wooly bully  sam the sham and the pharaohs  1965
20         1            wooly bully  sam the sham and the pharaohs  1965
21         1            wooly bully  sam the sham and the pharaohs  1965
22         1            wooly bully  sam the sham and the pharaohs  1965
23         1            wooly bully  sam the sham and the pharaohs  1965
24         1            wooly bully  sam the sham and the pharaohs  1965
25         1            wooly bully  sam the sham and the pharaohs  1965
26         1            wooly bully  sam the sham and the pharaohs  1965
27         1            wooly bully  sam the sham and the pharaohs  1965
28         1            wooly bully  sam the sham and the pharaohs  1965
29         1            wooly bully  sam the sham and the pharaohs  1965
...      ...                    ...                            ...   ...
871566   100  how deep is your love    calvin harris and disciples  2015
871567   100  how deep is your love    calvin harris and disciples  2015
871568   100  how deep is your love    calvin harris and disciples  2015
871569   100  how deep is your love    calvin harris and disciples  2015
871570   100  how deep is your love    calvin harris and disciples  2015
871571   100  how deep is your love    calvin harris and disciples  2015
871572   100  how deep is your love    calvin harris and disciples  2015
871573   100  how deep is your love    calvin harris and disciples  2015
871574   100  how deep is your love    calvin harris and disciples  2015
871575   100  how deep is your love    calvin harris and disciples  2015
871576   100  how deep is your love    calvin harris and disciples  2015
871577   100  how deep is your love    calvin harris and disciples  2015
871578   100  how deep is your love    calvin harris and disciples  2015
871579   100  how deep is your love    calvin harris and disciples  2015
871580   100  how deep is your love    calvin harris and disciples  2015
871581   100  how deep is your love    calvin harris and disciples  2015
871582   100  how deep is your love    calvin harris and disciples  2015
871583   100  how deep is your love    calvin harris and disciples  2015
871584   100  how deep is your love    calvin harris and disciples  2015
871585   100  how deep is your love    calvin harris and disciples  2015
871586   100  how deep is your love    calvin harris and disciples  2015
871587   100  how deep is your love    calvin harris and disciples  2015
871588   100  how deep is your love    calvin harris and disciples  2015
871589   100  how deep is your love    calvin harris and disciples  2015
871590   100  how deep is your love    calvin harris and disciples  2015
871591   100  how deep is your love    calvin harris and disciples  2015
871592   100  how deep is your love    calvin harris and disciples  2015
871593   100  how deep is your love    calvin harris and disciples  2015
871594   100  how deep is your love    calvin harris and disciples  2015
871595   100  how deep is your love    calvin harris and disciples  2015

                   token
0                 ['sam'
1                 'sham'
2        'miscellaneous'
3                'wooly'
4                'bully'
5                'wooly'
6                'bully'
7                  'sam'
8                 'sham'
9             'pharaohs'
10             'domingo'
11             'samudio'
12                 'uno'
13                 'dos'
14                 'one'
15                 'two'
16                'tres'
17              'quatro'
18               'matty'
19                'told'
20               'hatty'
21               'thing'
22                 'saw'
23                 'two'
24                 'big'
25               'horns'
26               'wooly'
27                 'jaw'
28               'wooly'
29               'bully'
...                  ...
871566            'deep'
871567            'love'
871568            'deep'
871569            'love'
871570            'deep'
871571          'loveso'
871572            'tell'
871573            'deep'
871574            'love'
871575              'go'
871576          'deeper'
871577            'tell'
871578            'deep'
871579            'love'
871580           'could'
871581              'go'
871582            'deep'
871583            'deep'
871584            'love'
871585            'tell'
871586            'deep'
871587            'love'
871588              'go'
871589          'deeper'
871590            'tell'
871591            'deep'
871592            'love'
871593           'could'
871594              'go'
871595           'deep']

[871596 rows x 5 columns]

In [56]:
df1.head()

   Rank         Song                         Artist  Year             token
0     1  wooly bully  sam the sham and the pharaohs  1965            ['sam'
1     1  wooly bully  sam the sham and the pharaohs  1965            'sham'
2     1  wooly bully  sam the sham and the pharaohs  1965   'miscellaneous'
3     1  wooly bully  sam the sham and the pharaohs  1965           'wooly'
4     1  wooly bully  sam the sham and the pharaohs  1965           'bully'

In [57]:
df1['token'] = df1['token'].apply(lambda x : x.strip("[").strip(" ").strip("'").strip("]"))

In [58]:
df1.head(10)

   Rank         Song                         Artist  Year          token
0     1  wooly bully  sam the sham and the pharaohs  1965            sam
1     1  wooly bully  sam the sham and the pharaohs  1965           sham
2     1  wooly bully  sam the sham and the pharaohs  1965  miscellaneous
3     1  wooly bully  sam the sham and the pharaohs  1965          wooly
4     1  wooly bully  sam the sham and the pharaohs  1965          bully
5     1  wooly bully  sam the sham and the pharaohs  1965          wooly
6     1  wooly bully  sam the sham and the pharaohs  1965          bully
7     1  wooly bully  sam the sham and the pharaohs  1965            sam
8     1  wooly bully  sam the sham and the pharaohs  1965           sham
9     1  wooly bully  sam the sham and the pharaohs  1965       pharaohs

In [59]:
df1.to_csv('Lyrics_data.csv')

In [ ]:
export_excel = df1.to_excel ('Lyrics_data.xlsx', index = None, header=True)